@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');


:root {
    /* Cor Background */
    --bg-base: #ffffff;
    --bg-base-dark: #000;
    --bg-base-grey: #f2f2f5;

    /* Cor primaria */

    /* Cor secundaria */


    /* Cor para fonts */
    --text-dark: #000;
    --text-light: #fff;
    --text-yellow: #ffc757;

    /* Cor para butões */
    --color-bg-btn-dark: #000000;
    --color-bg-btn-danger: red;
    --color-bg-btn-sucess: green;
    --color-bg-btn-light: ;


    --color-bg-btn-hover: #7d7d7d;

    /* Sombras */
    --box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.151);

    /* Transições */
    --transition-all: all 0.3s ease;

    /* Bordas */
    --color-border: #7d7d7d;
}

.btn {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

* {
    margin: 0;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 350;
    font-style: normal;
    box-sizing: border-box;
    color: var(--text-dark);
    text-decoration: none;
}

body {
    display: flex;
    flex-direction: column;
    background-color: var(--bg-base);
    height: 100vh;

}

header {
    display: flex;
    width: 100%;

    & .conteiner-header {
        display: flex;
        width: 100%;
        padding: 24px;

        & .row-header {
            display: flex;
            justify-content: space-between;
            width: 100%;
            align-items: center;


            & .logo {
                width: 25%;

                & img {
                    width: auto;
                    height: 40px;
                }
            }

            & .nav {
                display: flex;
                justify-content: center;
                width: 100%;

                & ul {
                    display: flex;
                    list-style: none;
                    gap: 20px;
                    position: relative;
                    padding: 0;

                    & li a {
                        position: relative;
                        text-decoration: none;
                        color: var(--text-dark);
                    }

                    & li a::before {
                        content: "";
                        position: absolute;
                        width: 100%;
                        height: 2px;
                        background-color: var(--text-dark);
                        left: 0;
                        bottom: -5px;
                        transform: scaleX(0);
                        transition: transform 0.3s ease;
                    }

                    & li a:hover::before {
                        transform: scaleX(1);
                    }
                }
            }

            & .register {
                display: flex;
                gap: 12px;
                justify-content: center;
                width: 25%;

                & button:nth-child(1) {
                    padding: 6px;
                    border-radius: 30px;
                    width: 100px;
                    position: relative;
                }

                & button:nth-child(1):before {
                    content: "";
                    position: absolute;
                    width: 100%;
                    height: 2px;
                    background-color: var(--text-dark);
                    left: 0;
                    bottom: -5px;
                    transform: scaleX(0);
                    transition: transform 0.3s ease;
                }

                & button:nth-child(1):hover::before {
                    transform: scaleX(0.8);
                }


                & button:nth-child(2) {
                    width: 100px;
                    padding: 6px;
                    border-radius: 30px;
                    background-color: var(--color-bg-btn-dark);
                    color: var(--text-light);
                    transition: var(--transition-all);

                    & i {
                        color: var(--text-light);
                    }
                }


                & button:nth-child(2):hover {
                    background-color: var(--color-bg-btn-hover);
                }
            }
        }
    }
}

main {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100%;
    padding: 24px;
    gap: 20px;

    & .conteiner-banner {
        border-radius: 10px;
        padding: 24px;
        margin: 0 auto;

        & .row-banner {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(1, 1fr);
            gap: 50px;
        }

        & .title-text {
            display: flex;
            flex-direction: column;
            align-items: start;
            gap: 10px;

            & div {
                display: flex;
                flex-direction: column;
                gap: 30px;

                & h1 {
                    font-size: clamp(1.5rem, 5vw, 6rem);
                    font-weight: 300;
                    color: var(--text-dark);
                    line-height: 1;

                    & span {
                        font-weight: 700;
                        color: var(--text-yellow);
                    }
                }

                & p {
                    font-size: clamp(0.5rem, 1.5vw, 2rem);
                }
            }

            & .product {
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: var(--color-bg-btn-dark);
                border-radius: 10px;
                padding: 12px;
                color: var(--text-light);
                font-size: clamp(0.5rem, 1vw, 1rem);
                transition: var(--transition-all);

                & i {
                    margin-left: 5px;
                    margin-top: 5px;
                    color: var(--text-light);
                    font-size: clamp(0.5rem, 1vw, 1rem);
                }
            }

            & .product:hover {
                background-color: var(--color-bg-btn-hover);
            }
        }

        & .img-banner {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;


            & .conteiner-img {
                max-width: 100%;
                overflow: hidden;
            }

            & img {
                width: 100%;
                background-color: #ffc757;
                border-radius: 20px;
            }
        }
    }

    & .conteiner-line {
        padding: 24px;

        & .line {
            display: flex;
            width: 100%;
            height: 4px;
            background-color: var(--bg-base-grey);

        }
    }

    & .conteiner-category {
        padding: 24px;


        & .row-category {

            & h1 {
                font-size: clamp(1.8rem, 2vw, 2.5rem);
                margin-bottom: 20px;
                text-align: center;

                & span {
                    color: var(--text-yellow);
                    font-weight: 700;
                }
            }

            & .grid_group {
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
                justify-content: center;
                align-items: center;
                gap: 20px;

                & a {
                    & .grid_product {
                        background-color: var(--bg-base-grey);
                        position: relative;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        overflow: hidden;
                        height: 450px;
                        box-shadow: var(--box-shadow);

                        & img {
                            width: 380px;
                            height: 380px;
                            transform: scale(0.9);
                            transition: var(--transition-all);
                        }

                        & h1 {
                            z-index: 9;
                            position: absolute;
                            top: 20px;
                        }

                        & button {
                            position: absolute;
                            z-index: 9;
                            bottom: 20px;
                            width: 200px;
                            background-color: var(--color-bg-btn-dark);
                            border-radius: 20px;
                            color: var(--text-light);
                            padding: 6px 12px;
                            font-size: 1rem;
                            transform: translateY(10px);
                            transition: var(--transition-all);
                            opacity: 0;
                        }
                    }

                    & .grid_product:hover button {
                        transform: translateY(0px);
                        opacity: 1;
                    }

                    & .grid_product:hover img{
                        transform: scale(1);
                    }
                }
            }
        }
    }

    & .conteiner-inf {

        & .row-inf {

            & h1 {
                font-size: clamp(1.8rem, 2vw, 2.5rem);
                margin-bottom: 20px;
                text-align: center;

                & span {
                    color: var(--text-yellow);
                    font-weight: 700;
                }
            }

            & .group-inf {

                & ul {
                    list-style: none;
                    display: flex;
                    padding: 0;
                    gap: 10px;
                    justify-content: center;
                    flex-wrap: wrap;

                    & li {
                        display: flex;
                        flex-direction: column;
                        gap: 10px;
                        justify-content: center;
                        align-items: center;
                        padding: 12px;
                        border-radius: 10px;
                        width: 250px;

                        & i {
                            font-size: 30px;
                            color: var(--text-dark);
                        }

                        & label {
                            color: var(--text-dark);
                            font-size: 20px;
                        }
                    } 
                }
            }
        }
    }
}

footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: var(--bg-base-dark);
    border-top: 5px solid var(--color-border);


    & .conteiner-footer {
        width: 100%;
        padding: 24px;

        & .row-footer {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
            gap: 50px;

            & .grid_1 {

                & h2 {
                    color: var(--text-light);
                    margin-bottom: 20px;
                    font-weight: 600;
                    text-align: center;
                }

                & ul {
                    display: flex;
                    justify-content: center;
                    list-style: none;
                    gap: 10px;
                    padding: 0;
                    text-align: center;

                    & li a {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-size: 20px;
                        background-color: var(--bg-base);
                        border-radius: 10px;
                        width: 40px;
                        height: 40px;
                    }
                }
            }

            & .grid_2 {

                & h2 {
                    color: var(--text-light);
                    margin-bottom: 20px;
                    font-weight: 600;
                    text-align: center;
                }

                & ul {
                    display: flex;
                    flex-direction: column;
                    list-style: none;
                    gap: 10px;
                    padding: 0;
                    text-align: center;

                    & li a {
                        color: var(--text-light);

                        & i {
                            color: var(--text-light);
                        }
                    }
                }
            }

            & .grid_3 {

                & h2 {
                    color: var(--text-light);
                    margin-bottom: 20px;
                    font-weight: 600;
                    text-align: center;
                }

                & ul {
                    display: flex;
                    flex-direction: column;
                    list-style: none;
                    gap: 10px;
                    padding: 0;
                    text-align: center;

                    & li a {
                        color: var(--text-light);

                        & i {
                            color: var(--text-light);
                        }
                    }
                }
            }

            & .grid_4 {

                & h2 {
                    color: var(--text-light);
                    margin-bottom: 20px;
                    font-weight: 600;
                    text-align: center;
                }

                & ul {
                    display: flex;
                    flex-direction: column;
                    list-style: none;
                    gap: 10px;
                    padding: 0;
                    text-align: center;

                    & li a {
                        color: var(--text-light);

                        & i {
                            color: var(--text-light);
                        }
                    }
                }
            }
        }
    }

    & .copy {
        display: flex;
        height: 30px;
        width: 100%;
        justify-content: center;
        margin: 20px 0;

        & p {
            color: var(--text-light);
            font-weight: 200;
            text-align: center;
        }
    }
}
