@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');



:root {
    /* Cor Background */
    --bg-base: #ffffff;
    --bg-base-dark: #000;
    --bg-base-grey: #7D7D7D;

    /* Cor primaria */

    /* Cor secundaria */


    /* Cor para fonts */
    --text-dark: #7D7D7D;
    --text-light: #fff;
    --text-yellow: #ffc757;

    /* Cor para butões */
    --color-bg-btn-dark: #000000;
    --color-bg-btn-danger: red;
    --color-bg-btn-sucess: green;
    --color-bg-btn-light: ;


    --color-bg-btn-hover: #7d7d7d;

    /* Sombras */
    --box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.151);

    /* Transições */
    --transition-all: all 0.3s ease;

    /* Bordas */
    --color-border: #7d7d7d;
}

* {
    margin: 0;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 350;
    font-style: normal;
    box-sizing: border-box;
    color: var(--text-dark);
    text-decoration: none;
    color: var(--color-text-light);
}

body {
    background-color: var(--bg-body-dark);
    display: flex;
    padding: 24px;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.conteiner {
    width: 500px;
    height: 500px;
    background-color: var(--bg-base-grey);
    padding: 24px;
    display: flex;
    justify-content: center;
    align-items: center;

    & .row-login {
        width: 100%;
        
    }
}
